#presentation_nav
{
  display:flex;
  justify-content: space-between;
}

nav ul{
 display: flex;
 padding-right: 10px;
 
}
nav ul li {
  margin-right: 40px;
  text-decoration: none;
  list-style-type: none;
}
nav a {
  text-decoration: none;
}

#barre_de_recherche{
  display:flex;
  margin-bottom:2px;
  margin-left: 30px;


}



#bouton_recherche{
  background:#0065FC;
  color:white;
  border: 1px solid #0065FC;
  border-radius: 0px 15px 15px 0px;
  width:135px;
  height:35px;
  text-align: center;
  padding-bottom: -10px;
  padding-top:-10px ;

}
#bouton_recherche h2{
  text-align: center;
  padding-bottom: 50px;
  font-size: 1.1em;
  margin-top: 5px;

}


#bouton_recherche h2{
  text-align:center;
  height:15px;
  width:-10px;
}

#filtre{
  display:flex;

  margin-right:100px;
}

#economique{
  margin-right:25px;
  margin-left:10px;
  display:flex;
  border:1px solid black;
  height:30px;
  border-radius:30px;
  padding-right:10px;
  margin-top:25px;
  padding-top:10px;
  padding-left:10px
}
#economique h2{
  margin-top:-3px;
  margin-left:20px;
  height:5px;
  font-size: 1.1em;

}
#familial{
  margin-right:25px;
  margin-left:25px;
  display:flex;
  display:flex;
  border:1px solid black;
  height:20px;
  width:130px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  border-radius:30px;
  margin-top:25px;

}
#familial h2{
  margin:-3px;
  margin-left:20px;
  font-size: 1.1em;

}


#romantique{
  margin-right:25px;
  margin-left:25px;
  display:flex;
  display:flex;
  border:1px solid black;
  height:20px;
  width:130px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:10px;
  border-radius:30px;
  margin-top:25px;
  padding-right:30px

}

#romantique h2{
  margin-top:-3px;
  margin-left:20px;
  font-size: 1.1em;
}

#animaux_autorises{
  margin-right:25px;
  margin-left:25px;
  display:flex;
  display:flex;
  border:1px solid black;
  height:20px;
  width:130px;
  padding-top:10px;
  padding-bottom:10px;
  padding-left:20px;
  border-radius:30px;
  margin-top:25px;
  padding-right:30px

}
#animaux_autorises h2{
  text-align:center;
  margin-top:-9px;
  margin-left: 20px;
  font-size: 1.1em;
}

.offre{
    color: red;

}



/** Pour faire un cercle **/

/** section herbergement et aside**/
#hebergements
