@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;800;900&display=swap");

body {
    font-family: "Raleway", sans-serif;
}

#logo {
    margin-left: 30px;
}

#presentation_nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    padding-right: 10px;
}
nav ul li {
    margin-right: 40px;
    text-decoration: none;
    list-style-type: none;
}
nav a {
    text-decoration: none;
}

nav a:hover {
    border-top: 2px solid #0065fc;
    padding-top: 20px;
    color: #0065fc;
}

nav a:visited {
    color: none;
}
#nav_hebergements a:visited {
    color: black;
}

#nav_activites a:visited {
    color: black;
}
#nav_inscrire {
    font-weight: bold;
}
#nav_inscrire a:visited {
    color: #0065fc;
}

#nav_hebergements a:hover {
    color: #0065fc;
}

#nav_activites a:hover {
    color: #0065fc;
}

#nav_activites header h1 {
    font-size: 1.3em;
    margin-left: 30px;
}

header p {
    margin-left: 30px;
}

#barre_de_recherche {
    display: flex;
    margin-bottom: 2px;
    margin-left: 30px;
}

#symbole_localisation {
    padding-left: 19px;
    padding-right: 16px;
    padding-top: 8px;
    background-color: #f2f2f2;
    border-radius: 10px 0px 0px 10px;
}

#bouton_recherche {
    background: #0065fc;
    color: white;
    border: 1px solid #0065fc;
    border-radius: 0px 15px 15px 0px;
    width: 135px;
    height: 35px;
    text-align: center;
    padding-bottom: -10px;
    padding-top: -10px;
    cursor: pointer;
}
#bouton_recherche h2 {
    text-align: center;
    padding-bottom: 50px;
    font-size: 1.1em;
    margin-top: 5px;
}

#bouton_recherche h2 {
    text-align: center;
    height: 15px;
    width: -10px;
}

/*FILTRE*/

#filtre {
    display: flex;
    margin-left: 30px;
    margin-right: 100px;
}

#filtre p {
    margin-top: 40px;
    margin-left: 10px;
    font-weight: bold;
}

#economique {
    margin-right: 25px;
    margin-left: 10px;
    display: flex;
    border: 3px solid #deebff;
    height: 30px;
    border-radius: 30px;
    padding-right: 10px;
    margin-top: 25px;
    padding-top: 10px;
    padding-left: 10px;
}
#economique h2 {
    margin-top: -3px;
    margin-left: 20px;
    height: 5px;
    font-size: 1.1em;
    padding-left: 40px;
}

#economique:hover {
    color: #0065fc;
    text-decoration: underline;
    cursor: pointer;
}
#familial {
    margin-right: 25px;
    margin-left: 25px;
    display: flex;
    border: 3px solid #deebff;
    height: 20px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 25px;
}

#familial h2 {
    margin: -3px;
    margin-left: 55px;
    font-size: 1.1em;
}

#familial:hover {
    color: #0065fc;
    text-decoration: underline;
    cursor: pointer;
}

#romantique {
    margin-right: 25px;
    margin-left: 33px;
    display: flex;
    display: flex;
    border: 3px solid #deebff;
    height: 20px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 24px;
    padding-right: 50px;
}

#romantique h2 {
    margin-top: -3px;
    margin-left: 54px;
    font-size: 1.1em;
}

#romantique:hover {
    color: #0065fc;
    text-decoration: underline;
    cursor: pointer;
}

#animaux_autorises {
    margin-right: 25px;
    margin-left: 55px;
    display: flex;
    display: flex;
    border: 3px solid #deebff;
    height: 20px;
    width: 130px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    border-radius: 30px;
    margin-top: 24px;
    padding-right: 60px;
}
#animaux_autorises h2 {
    text-align: center;
    margin-top: -9px;
    margin-left: 40px;
    font-size: 1.1em;
}

#animaux_autorises:hover {
    color: #0065fc;
    text-decoration: underline;
    cursor: pointer;
}

/*information*/

#symbole_information {
    color: black;

    padding-right: 0px;
    margin-left: 35px;
    padding-top: 10px;
}

#symbole_information .fas {
    background-color: #0065fc;
    padding-left: 0px;
    border-radius: 50%;
    color: white;
    box-shadow: 1px 1px 1px #deebff;
}

#information {
    display: flex;
    margin-top: 15px;
}

#inscription_information {
    margin-left: 5px;
}

#inscription_information p {
    margin-left: 0px;
    font-family: "Raleway";
    font-weight: 300;
    font-size: 0.8em;
    height: 7px;
}

/**  FILTRES symboles  integrés dans des cercles bleu ciel   **/

.symbole {
    border-radius: 50%;
    height: 43px;
    width: 43px;
    margin-left: -11px;
    margin-top: -12px;
    display: flex;
    position: absolute;
    color: #0065fc;
    background-color: #deebff;
    justify-content: center;
    align-items: center;
}

/** section herbergement et aside**/

section {
    background-color: #f2f2f2;
    margin-top: 20px;

    width: 60%;

    display: flex;
    flex-wrap: wrap;
    height: 40%;

    padding-left: 30px;
    border-radius: 13px 13px 13px 13px;
    margin-left: 30px;
    padding-top: -80px;
}

#offres_hebergements {
    display: flex;
    flex-wrap: wrap;
}

section p {
    margin-left: 30px;

    font-weight: 550;
}

.offre img {
    width: 185px;
    height: 100px;
    border-radius: 13px 13px 13px 13px;
    object-fit: cover;
}

#herbegements {
    margin-left: 100px;
    margin-top: 50px;
    width: 590px;
    height: 1563.72px;
    display: flex;
    flex-wrap: wrap;
}

.offre {
    margin-left: 40px;

    margin-right: 30px;
    padding-left: 5px;
    padding-top: 5px;
    border-radius: 13px 13px 13px 13px;
    padding-right: 5px;
    margin-bottom: 10px;
    background-color: white;
    box-shadow: 5px 5px 5px #dcdcdc;
}

.offre h3 {
    font-size: 0.9em;
    margin-top: 5px;
    color: black;
    text-decoration: none;
}
a {
    text-decoration: none;
}

.offre h4 {
    font-size: 0.7em;
    margin-top: -5px;
    padding-bottom: 4px;
    color: black;
    font-family: "Raleway";
    font-weight: 400;
}

.offre h3,
h4 {
    margin-left: 10px;
}

.etoiles {
    margin-left: 10px;
    margin-top: -8px;
    font-size: 0.8em;
    padding-bottom: 8px;
}

.symbole_euro {
    font-weight: bold;
}

.etoiles {
    color: #0065fc;
}
.etoile_gris {
    color: #dcdcdc;
}

.offre_populaires img {
    width: 120px;
    height: 100px;
    padding-top: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
    border-radius: 10px 10px 10px 10px;
    object-fit: cover;
}

.offre_populaires {
    display: flex;
    width: 80%;
    border-radius: 10px 10px 10px 10px;
    margin-left: 50px;
    padding-left: 10px;
    padding-left: 5px;
    margin-bottom: 25px;
    background-color: white;
    box-shadow: 5px 5px 5px #dcdcdc;
}

.offre_populaires h3 {
    font-size: 0.9em;
    color: black;
}

.descriptions p {
    font-size: 0.7em;
    color: black;
}
.descriptions {
    padding-left: 15px;
}
aside {
    background-color: #f2f2f2;
    width: 25%;
    margin-bottom: 20px;
    padding-bottom: 54px;
    border-radius: 13px 13px 13px 13px;
    margin-left: 30px;
    margin-left: 75px;
    padding-right: 40px;
    margin-right: 5px;
    height: 120%;
    margin-top: 20px;
    /*-78px*/
    margin-bottom: 75px;
}
aside h2 {
    margin-left: 110px;
    font-size: 1.1em;
    margin-left: 50px;
    margin-top: 30px;
}

#titre_populaire {
    margin-bottom: 35px;
}

#titre_1 {
    margin-top: 0px;
    padding-top: 20px;

    width: 59.3%;
    background-color: #f2f2f2;
    padding-bottom: 25px;
    font-size: 0.8em;
    padding-left: 40px;
    border-radius: 13px 13px 0% 0%;
    margin-left: 30px;
}

#titre_1 h2 {
    margin-left: -17px;
}

#herbergements_et_aside {
    display: flex;
    flex-wrap: wrap;
}

/**  mise en forme des activites **/

#titre_2 {
    margin-left: 90px;
    font-size: 0.8em;
}

#titre_2 h2 {
    margin-left: 32px;
}

.activite_1 img {
    width: 100%;
    height: 329px;

    border-radius: 10% 10% 0% 0%;
    margin-top: -49px;
    margin-bottom: 1px;
}

.activite_1 {
    margin-right: 84%;
    border-radius: 10% 10% 10% 10%;
    margin-top: 2px;
    box-shadow: 5px 5px 3px #f2f2f2;
    width: 230px;
    padding-top: 47px;
}

.groupe_activites h3 {
    margin-left: 13px;
    padding-bottom: 15px;
    font-weight: 550;
}

.activite_2 img {
    width: 100%;
    height: 140px;
    border-radius: 10px 10px 0px 0px;
}

.activite_2 {
    margin-right: 82%;
    width: 210px;
    margin-bottom: 10px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 3px #f2f2f2;
}

.activite_3 img {
    width: 210px;
    height: 130px;
    border-radius: 10px 10px 0px 0px;
}

.activite_3 {
    margin-right: 81.1%;
    width: 210px;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 5px 5px 3px #f2f2f2;
}

.groupe_activites {
    display: flex;
    margin-left: 150px;
}

#activites {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: 40px;
}

#activites h3 {
    color: black;
    font-size: 0.8em;
    padding-left: 10px;
}

.activites_2_3 {
    margin-left: 50px;
}

/*footer*/

footer {
    margin-top: 55px;
    display: flex;
    background-color: #f2f2f2;
    margin-left: 10px;
    padding-left: 260px;
    padding-right: 260px;
    margin-right: -10px;
    padding-top: 30px;
    margin-bottom: -10px;
}

footer h2 {
    font-size: 0.9em;
}

footer ul {
    font-weight: 400;

    list-style-type: none;
}

footer li {
    margin-bottom: 15px;
    margin-left: -40px;
}

footer a {
    color: black;
}

footer ul {
    padding-top: 12px;
}

#nos_hebergements {
    margin-left: 145px;
}

#assistances {
    margin-left: 235px;
}

/*responsive iphone 8*/

@media screen and (max-width: 375px) {
    nav ul {
        display: flex;
    }

    #nav_activites a:hover {
        border-top: none;
    }

    #nav_activites:hover {
        border-bottom: 2px solid #0065fc;
    }

    #nav_hebergements a:hover {
        border-top: none;
    }

    #nav_hebergements:hover {
        border-bottom: 2px solid #0065fc;
    }

    #nav_hebergements {
        margin-top: 55px;
        margin-left: -180px;
        padding-left: 45px;
        padding-right: 53px;
        padding-bottom: 10px;
    }

    #nav_activites {
        margin-top: 55px;
        margin-left: -60px;
        padding-left: 65px;
        padding-right: 50px;
        padding-bottom: 10px;
    }

    #nav_inscrire {
        margin-left: -140px;
    }

    #nav_inscrire a:hover {
        border-top: none;
    }

    #herbergements_et_aside {
        display: flex;
        flex-direction: column-reverse;
    }

    #hebergements {
        display: flex;
        flex-direction: column;
    }

    header h1,
    p {
        width: 320px;
        margin-left: 30px;
    }

    header h1 {
        font-size: 1.4em;
    }

    #barre_de_recherche {
        height: 50px;
    }

    input {
        width: 260px;
        font-weight: 600;
        font-size: 1.1em;
        text-decoration: none;
    }

    #bouton_recherche {
        height: 50px;
        width: 50px;
        border-radius: 15px 15px 15px 15px;
        margin-left: -40px;
    }

    #filtre {
        display: flex;
        flex-wrap: wrap;
    }

    #economique {
        margin-left: -20px;
    }

    #familial {
        margin-left: 190px;
        margin-top: -46px;
    }

    #romantique {
        margin-left: -20px;
    }

    #animaux_autorises {
        margin-left: -20px;
    }

    aside {
        margin-top: 50px;
        margin-bottom: 0px;
    }

    /*MISE EN FORME SECTION HEBERGEMENTS IPHONE 8*/

    #symbole_localisation {
        padding-top: 15px;
    }

    #filtre p {
        margin-left: -8px;
    }

    section {
        margin-left: -60px;
        background-color: white;
        padding-right: 170px;
    }

    #information {
        margin-left: -22px;
    }

    .offre {
        border-radius: 13px 13px 13px 13px;
        width: 330px;
    }

    .offre img {
        width: 100%;
        border-radius: 13px 13px 0px 0px;
    }

    #titre_1 {
        padding-right: 100px;
        margin-left: 20px;
        background-color: white;
    }

    #titre_1 h2 {
        width: 290px;
    }

    #titre_2 {
        margin-left: -8px;
        margin-top: 35px;
    }

    .groupe_activites {
        display: flex;
        flex-direction: column;
        margin-left: 45px;
    }

    .activite_1 {
        width: 330px;
        border-radius: 10px 10px 10px 10px;
    }

    .activite_1 img {
        height: 133px;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

    .activite_2 {
        width: 330px;
        border-radius: 10px 10px 10px 10px;
        margin-left: -50px;
    }

    .activite_2 img {
        height: 133px;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

    .activite_3 {
        width: 330px;
        border-radius: 10px 10px 10px 10px;
        margin-left: -50px;
    }

    .activite_3 img {
        width: 100%;
        height: 133px;
        border-radius: 10px 10px 0px 0px;
        object-fit: cover;
    }

    /* mise en forme des offres populaires*/

    aside {
        margin-left: -8px;
        padding-right: 290px;
        border-radius: 0px 0px 0px 0px;
    }

    .offre_populaires {
        margin-left: 20px;
        padding-right: 257px;
        padding-bottom: 45px;
        border-radius: 20px 20px 20px 20px;
        padding-bottom: 5px;
    }

    .offre_populaires img {
        border-radius: 20px 0px 0px 20px;
        width: 137px;
        height: 152px;
        padding-top: 5px;
        padding-left: 5px;
    }

    .offre_populaires h3 {
        width: 150px;
    }

    .offre_populaires .etoiles {
        margin-left: 0px;
        margin-top: 53px;
    }

    .offre_populaires p {
        margin-left: 0px;
    }

    #titre_populaire {
        margin-left: -5px;
    }

    #titre_populaire h2 {
        width: 500px;
    }

    /*FOOTER*/

    footer {
        display: flex;
        flex-direction: column;
        padding-left: 10px;
    }

    #a_propos {
        margin-left: 45px;
    }

    #nos_hebergements {
        margin-left: 45px;
    }

    #assistances {
        margin-left: 45px;
    }
    footer ul {
        width: 300px;
    }
}
/*responsive tablette */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    header h1 {
        font-size: 1.2em;
        margin-left: 30px;
    }

    /*mise en forme du filtre*/
    #filtre {
        display: flex;
        flex-wrap: wrap;
    }

    #familial {
        margin-left: 130px;
        margin-top: 30px;
    }

    #animaux_autorises {
        margin-left: 129px;
        margin-top: 29px;
    }

    #economique {
        margin-left: 30px;
    }
    #romantique {
        margin-left: 40px;
    }

    /*mise en forme aside*/

    aside {
        padding-right: 575px;
        padding-left: 130px;
        margin-left: -10px;
        border-radius: 0px 0px 0px 0px;
    }

    .offre_populaires {
        border: 1px solid black;
        display: flex;
        flex-direction: column;
        padding-right: 255px;
    }
    .offre_populaires img {
        width: 390px;
        height: 150px;
    }
    #titre_populaire h2 {
        width: 290px;
        font-size: 1.3em;
    }

    /*mise en forme  sections hebergements*/
    section {
        margin-left: -10px;
        padding-right: 500px;
        padding-left: 140px;
    }

    .offre {
        border: 1px solid black;
        padding-right: 12px;
        padding-left: 10px;
    }
    .offre img {
        width: 390px;
        height: 150px;
    }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    header h1 {
        color: black;
    }
}
